@use 'sass:map';

$breakpoints: (
    xsm: 375px,
    sm: 600px,
    med: 800px, /*50em*/
    lrg: 1440px
);

@mixin mediaQuery($key) {
    $size: map.get($breakpoints, $key);
    @media (min-width: $size) {
        @content;
    }
}

/*
-Mobile: 375px
- Desktop: 1440px
*/